.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 100px;
    margin: 100px 100px;
    font-size: 20px;
    background-color: rgb(112, 112, 237);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}